* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 4px 40px 16px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.header {
    font-size: 24px;
    color: #e5e7eb;
}

.link-container {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 300;
}

.link-container a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.hero-container img {
    width: 391px;
    height: 220px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 40px;
    width: 100%;
}

.hero-left {
    width: 60%;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.hero-container h1{
    font-size: 48px;
    width: 70%;
    font-weight: 900;
    margin: 0;
}

.hero-container p {
    width: 70%;
    margin: 0;
}

.full-top-section {
    background-color: #1f2937;
    padding-bottom: 100px;
    height: 300px;
}

.hero-container button {
    background-color: #3882f6;
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.full-second-section {
    height : 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 120px 0px;
}

.second-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 30px 0px 40px 0px;
    text-align: center;
}

.full-second-section img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 5px solid #3882f6;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 900px;
    margin: 0 auto;
    gap: 40px;
}

.image-container figure {
    margin: 0;
}

figcaption {
    text-align: center;
    width: 90%;
}

.full-third-section {
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px 300px 75px 300px;
}

.full-third-section p {
    font-size: 36px;
    color : #1f2937;
    font-weight: lighter;
    display: flex;
    font-style: italic;
}

.random-person {
    text-align: right;
    font-weight: bold;
}

.full-fourth-section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    padding: 80px 200px 80px 200px;
}

.blue-box {
    height: 150px;
    background-color: #3882f6;
    width: 1000px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.blue-content {
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    font-size: 16px;
}

.call-to-action {
    font-weight: 900;
}

.blue-content p {
    font-weight: 300;
}

.full-fourth-section button {
    background-color: #3882f6;
    display: flex;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    color: white;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

footer {
    background-color: #1f2937;
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
    align-content: center;
}









